<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Subtitle:</strong>
    <%= book.subtitle %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Started date:</strong>
    <%= book.started_date %>
  </p>

  <p>
    <strong>Finished date:</strong>
    <%= book.finished_date %>
  </p>

  <p>
    <strong>Total chapters:</strong>
    <%= book.total_chapters %>
  </p>

  <p>
    <strong>Readed chapters:</strong>
    <%= book.readed_chapters %>
  </p>

</div>
