<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :started_date, style: "display: block" %>
    <%= form.datetime_field :started_date %>
  </div>

  <div>
    <%= form.label :finished_date, style: "display: block" %>
    <%= form.datetime_field :finished_date %>
  </div>

  <div>
    <%= form.label :total_chapters, style: "display: block" %>
    <%= form.number_field :total_chapters %>
  </div>

  <div>
    <%= form.label :readed_chapters, style: "display: block" %>
    <%= form.number_field :readed_chapters %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
